html,
body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1290px;
    margin: 0 auto 240px;
}

.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--flex-features {
    align-items: flex-end;
}

.container--flex-env {
    align-items: flex-start;
}

.container--bg {
    background-color: #E5F4E5;
}

.container--linear-top::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 0%, rgba(124, 199, 124, .2) 100%);
    margin-top: -140px;
    z-index: -1;
}

.container--linear-bottom::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .2) 0%, rgba(124, 199, 124, .2) 100%);
    margin-bottom: -100px;
    z-index: -3;
}

.container--expand {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.container--footer {
    margin-bottom: 0;
    align-items: center;
    justify-content: flex-end;
}

.position-relative {
    position: relative;
}

.margin-right {
    margin-right: 8.5%;
}

header {
    position: relative;
}

header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 0%, rgba(124, 199, 124, .2) 100%);
    margin-bottom: -380px;
    z-index: -1;
}

.button {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 20px 35px;
    background-color: #000000;
    border-radius: 3px;
}

.button--margin {
    margin-top: 60px;
}

.header-navbar {
    padding: 20px 0;
}

.header-logo {
    width: 60px;
    height: 65px;
    background-image: url(/img/logo_small.png);
    z-index: 10;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    color: #4F4F4F;
}

.header-main {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.section__desc {
    width: 40%;
}

.section__desc--header {
    margin-bottom: 50px;
}

.section__desc--small {
    width: 31%;
}

.section__img {
    width: 50%;
}

.section__img--small {
    width: 40%;
    margin: 0 10%;
}

.section__img--expand {
    width: 100%;
    margin-top: 80px;
}

.section__img--header {
    z-index: -2;
}

.img-relative,
.img-fixed {
    margin-top: 80px;
}

.img-relative::after {
    content: "";
    display: block;
    background-image: url(/img/logo_bg.jpg);
    width: 190px;
    height: 190px;
    position: absolute;
    top: -80px;
    left: -80px;
}

.section__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */
    margin-bottom: 40px;
}

.section__title--header,
.section__title--footer {
    font-size: 40px;
    line-height: 50px;
    /* or 125% */
    margin-bottom: 20px;
}

.section__title--expand {
    width: 100%;
    margin-bottom: 0;
}

.section__title--center {
    text-align: center;
}

.section__body,
.features p,
.features--env p {
    color: #4F4F4F;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    margin-bottom: 20px;
}

.section__body:nth-child(2n+1) {
    margin-bottom: 0;
}

.section__body--header {
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    /* or 148% */
    margin-bottom: 60px;
}

.section__body--expand {
    width: 57%;
    margin-top: 20px;
}

.slider--small {
    width: 815px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.slider--small div {
    max-height: 330px;
    margin-right: 30px;
}

.slider--large div {
    margin-right: 30px;
}

.slider--small img {
    width: 100%;
}

.slick-prev,
.slick-next {
    bottom: 0;
}

.slick-prev:before,
.slick-next::before {
    color: black;
}

.logo--bg {
    position: absolute;
    width: 459px;
    height: 484px;
    z-index: 2;
    left: -350px;
    bottom: 0;
}

.features h3,
.features--env h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
    position: relative;
}

.features h3::before {
    content: "+";
    position: absolute;
    left: -20px;
    font-size: 46px;
    color: #96D9AE;
    ;
}

.features p,
.features--env p {
    margin-top: -10px;
}

.filters {
    margin-top: 100px;
    overflow: hidden;
}

.filters::before {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: -250px;
    width: 1562px;
    height: 225px;
    background-color: #FFFFFF;
    opacity: .5;
    z-index: -2;
    border-radius: 115px;
}

.filters::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 35px;
    right: -250px;
    width: 1562px;
    height: 225px;
    background-color: #FFFFFF;
    opacity: .5;
    z-index: -2;
    border-radius: 115px;
}

.filters ul {
    width: 24%;
    margin: 0 6%;
}

.filters li:nth-child(2n+1) {
    margin-bottom: 90px;
}

.filters__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */
    margin-bottom: 20px;
    position: relative;
}

.filters__title::before {
    content: "";
    background-image: url(/img/check_icon.png);
    width: 25px;
    height: 25px;
    position: absolute;
    left: -35px;
    top: 4px;
}

.filters__desc {
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    /* Gray 2 */
    color: #4F4F4F;
}

.filters__img {
    z-index: -1;
}

.footer-main {
    padding: 80px 0 100px;
    overflow: hidden;
}

.footer-main::before {
    content: "";
    position: absolute;
    left: 0;
    width: 483px;
    height: 525px;
    background-image: url(/img/logo_large.png);
    background-repeat: no-repeat;
}

.footer-bottom {
    max-width: 1290px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 65px 0;
}

.social-media li {
    display: inline-block;
    margin: 10px;
}

.social-media a {
    width: 25px;
    height: 25px;
}

footer nav li {
    margin-left: 0;
    margin-right: 30px;
}